<p>
  user-create works!
</p>
<form [formGroup]="rForm" (ngSubmit)="add()">

  <div class="form-group col-sm-12">
    <label for="input"> Name</label>
    <input id="name" name="name" autocomplete="off" placeholder="Enter  Name" class="form-control input-md" required="" type="text"
      formControlName="name">
    <div class="alert" *ngIf="!rForm.controls['name'].valid && rForm.controls['name'].touched">
      This field is required
    </div>
  </div>
  <div class="form-group col-sm-12">
    <label for="input"> Email</label>
    <input id="e_mail" name="e_mail" autocomplete="off" placeholder="Enter  Email" class="form-control input-md" required=""
      type="text" formControlName="e_mail">
    <div class="alert" *ngIf="!rForm.controls['e_mail'].valid && rForm.controls['e_mail'].touched">
      This field is required
    </div>
  </div>
  <div class="form-group col-sm-12">
    <label for="input"> Phone</label>
    <input id="phone" name="phone" autocomplete="off" placeholder="Enter  Phone" class="form-control input-md" required="" type="number"
      formControlName="phone">
    <div class="alert" *ngIf="!rForm.controls['phone'].valid && rForm.controls['phone'].touched">
      This field is required
    </div>
  </div>
  <div class="form-group col-sm-12">
    <label for="input"> Pic &nbsp;</label>
    <input id="photo" name="photo" autocomplete="off" placeholder="Enter  photo" class="form-control input-md" required="" type="file"
      (change)="uploadPic($event)">

  </div>
  <div class="col-sm-6">
    <img *ngIf="picPath2" [src]="picPath2" class="product-img  col-sm-6" height="100" width="100">
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="!rForm.valid">Submit</button>
</form>