<h1>User List</h1>
<button (click)="add()">Add User</button>
<table>
  <tr>
    <th>Name &nbsp;&nbsp;</th>
    <th>Phone &nbsp;&nbsp;</th>
    <th>Email &nbsp;&nbsp;</th>
    <th>Action &nbsp;&nbsp;</th>
  </tr>
  <tr *ngFor="let user of users">
    <td>{{user.name}}&nbsp;&nbsp;</td>
    <td>{{user.phone}}&nbsp;&nbsp;</td>
    <td>{{user.e_mail}}&nbsp;&nbsp;</td>
    <td>
      <button (click)="update(user.id)">Action</button>
    </td>
  </tr>
</table>